#### Rename multiple columns in one line

In [0]:
data = [(1, 'Rohit', 'M',4000),(2, 'Divya', 'F',5000),(3, 'Sam', 'M',5000),(4, 'Kohli', 'M',4000)]

schema = "id int, name String ,gender String ,salary int"

emp_df = spark.createDataFrame(data, schema)
emp_df.show(2)

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Rohit|     M|  4000|
|  2|Divya|     F|  5000|
+---+-----+------+------+
only showing top 2 rows

In [0]:
def rename_multiple_columns(df: DataFrame, nam_dict: dict):
    """Change the name of different columns, based on a dictionary

    Args:
        df (DataFrame): Data frame which columns will be renamed
        name_dict (dict): Python dictionary (key, value pair) with keys being the old column name and the values the new names

    Returns:
        DataFrame: Dataframe with columns renamed
    """
    for key, value in nam_dict.items():
        df = df.withColumnRenamed(key, value)

    return df

In [0]:
rename_multiple_columns(df=emp_df,nam_dict={'id':'emp_id','name':'emp_name','salary':'upd_salary'}).show()

+------+--------+------+----------+
|emp_id|emp_name|gender|upd_salary|
+------+--------+------+----------+
|     1|   Rohit|     M|      4000|
|     2|   Divya|     F|      5000|
|     3|     Sam|     M|      5000|
|     4|   Kohli|     M|      4000|
+------+--------+------+----------+